* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    padding: 98px 148px 0px 48px;
   
}

h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
h2 {
    color: #4ADF86;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 27px;
}
p {
    color: #D5D4D8;
    font-size: 20px;
    font-weight: regular;
    margin-bottom: 48px;
}
button{
    width: 191px;
    background-color: #10B981;
    color: #fff;
    font-size: 16px;
    font-weight: medium;
    padding: 9px 17px 9px 15px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 35px;
    font-family: inter;
}

.white-line{    
    width: 446px;
    height: 1px;
    background-color: #D5D4D8;
    border: .5px solid #2F3E53;
    text-align: center;
    margin-bottom: 35px;

}

.container2{
    margin-left: -45px;
    padding-left: 0;
    display: flex;
    width: 550px;
    justify-content: center;
}

.empty{
    margin-left:5px ;
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 5px; 
    margin-right: 20px;
    font-size: 16px;
    color: #55F991;
    padding: 8px 16px;
    text-align: center;
}
